.change-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

.change-password-form label {
  display: block;
  margin-bottom: 1rem;
}

.change-password-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

.success {
  color: rgb(0, 0, 0);
  margin-top: 1rem;
}

.error {
  color: red;
  margin-top: 1rem;
}

.change-password-form button {
  width: 100%;
  padding: 12px;
  background-color: #6b9080;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  font-family: 'Quicksand', sans-serif;
}

.change-password-form button:hover {
  background-color: #5c8473;
}
